<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" /> <!-- 널값처리 -->
		<setting name="mapUnderscoreToCamelCase" value="true" /> <!-- 언더바 카멜기법 -->
	</settings>

	<typeAliases>
		<typeAlias type="kh.semi.khuniv.comment.model.dto.CommentVo"
			alias="CommentVo" />
		<typeAlias
			type="kh.semi.khuniv.comment.model.dto.CommentVoRes"
			alias="CommentVoRes" />
		<typeAlias type="kh.semi.khuniv.student.model.dto.StudentVo"
			alias="StudentVo" />
		<typeAlias type="kh.semi.khuniv.professor.model.dto.ProfessorVo"
			alias="ProfessorVo" />
	</typeAliases>

	<environments default="khUniv">

		<environment id="khUniv">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver"
					value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@127.0.0.1:1521:xe" />
				<property name="username" value="SEMIJY" />
				<property name="password" value="SEMIJY" />
			</dataSource>
		</environment>


	</environments>

	<mappers>
		<mapper resource="mappers/comment-mapper.xml" />
	</mappers>
</configuration>


